* {
    margin: 0;
    padding: 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 280px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(132, 170, 214);
    border-radius: 7px;
    position: relative;
    top: 120px;
}

.grid div {
    height: 80px;
}

h3, h1 {
    font-family: "Nunito";
    text-align: center;
}

h1 {
    position: relative;
    top: 30px;
}

body {
    background-color: rgb(51, 101, 148);
}

.date { 
    font-family: "Nunito";
    background: rgb(196, 224, 255);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 110px;
    border-radius: 3px;
}

.square {
    background-color: rgb(196, 224, 255);
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date h3 {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none; 
}

.darker {
    background-color: rgb(103, 143, 196);
}

.confirm {
    font-family: "Nunito";
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    left:62%;
    top:140px;
}
  
.confirm:hover {opacity: 1}

*, *::before, *::after {
    box-sizing: border-box;
}

.custom-field {
    font-size: 14px;
    position: relative;
}

.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    font-size: 14px;
}

.form {
    display: flex;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    position: relative;
    top: 60px;
}
